EndUserApp/Web References/perxLyrics/Lyrics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getLyrics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="music" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="song" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLyricsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLyricsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLyricsSoapIn">
    <wsdl:part name="parameters" element="tns:getLyrics" />
  </wsdl:message>
  <wsdl:message name="getLyricsSoapOut">
    <wsdl:part name="parameters" element="tns:getLyricsResponse" />
  </wsdl:message>
  <wsdl:portType name="LyricsSoap">
    <wsdl:operation name="getLyrics">
      <wsdl:input message="tns:getLyricsSoapIn" />
      <wsdl:output message="tns:getLyricsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LyricsSoap" type="tns:LyricsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLyrics">
      <soap:operation soapAction="http://tempuri.org/getLyrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LyricsSoap12" type="tns:LyricsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLyrics">
      <soap12:operation soapAction="http://tempuri.org/getLyrics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lyrics">
    <wsdl:port name="LyricsSoap" binding="tns:LyricsSoap">
      <soap:address location="http://localhost:2693/Lyrics.asmx" />
    </wsdl:port>
    <wsdl:port name="LyricsSoap12" binding="tns:LyricsSoap12">
      <soap12:address location="http://localhost:2693/Lyrics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>